<p style="color: green"><%= notice %></p>
<%= link_to " CREATE NEW JOB POST!!", new_job_post_path, class: "btn btn-primary" %>

<div class="info-box">
  <div class="centralize">
    <h1> Current Jobs </h1>
  </div>

</div>
<% @job_posts.each do |job_post| %>

  <div class="frame">
    <div>

      <%= button_to "Apply!", new_job_application_path, method: :get,
                    params: { var1: job_post.id , var2: job_post.title }, class: "btn btn-danger" %>
    </div>

    <div class="info-box">
      <% if current_user.role == "user" %>
        <%= render job_post %>
        <%= link_to "Show", job_post, class: "btn btn-success" %>
      <% end %>
    </div>

  </div>

<% end %>







